<!doctype html>
<html lang="en">
    <head>
        <!-- needed for htmx usage
        <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
        -->
        <title>WRD</title>
    </head>
    <body style="text-align: center;">
        <div style="text-align: left;">
            <a href="https://github.com/hayleepierce/WRD/blob/main/README.md" target="_blank">Help</a>
        </div>
        {% include "components/search.html" %}<br>
        {% include "components/download.html" %}<br>
        <img src="/static/images/logo.jpg" alt="WRD Logo" style="width: 400px;">
        <form action="/" method="post">
            {% include "components/rate_word.html" %}
        </form>
    </body>
</html>